<!DOCTYPE html>

<html>
  <head>

    {% block head %}
      <title>Rodrigo da Rosa</title>
    {% endblock %}

    <link rel="icon" href="../public/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">

  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/cursos">Conteúdos</a>
      </div>
    </header>

    {% block content %} {% endblock %}

  </body>

</html>