{% extends "layout.njk" %}

{% block head %}
  <title>Conteúdos - Estudo exemplo</title>
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="cursos">
    {% for curso in cursos %}
    <div class="curso">
      <img src="{{curso.image}}" alt="{{curso.name}}">
    </div>
    {% endfor %}
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <span class="material-icons">
          close
        </span>
      </a>

      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <div id="links-footer" class="links">
    <a href="https://github.com/RodrigoRosa7" target="_blank"><img src="assets/github.png" alt="Github"></a>
    <a href="https://github.com/RodrigoRosa7" target="_blank">Github</a>
  </div>

  <script src="scripts.js"></script>

{% endblock %}